@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

p {
  margin-bottom: 10px;
}

/* ================================== */

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.orange-text {
  color: #f0811a;
  white-space: nowrap;
}

.red-text {
  color: #e20a0a;
}

.nowrap {
  white-space: nowrap;
}

.mt-25 {
  margin-top: 25px;
}

.mt-header {
  margin-top: 60px;
}

.cube {
  width: 7px;
  height: 7px;
  margin-right: 5px;
  background-color: #f0811a;
}

.section {
  padding: 56px 0;
}

.section__title {
  text-align: center;
  font-weight: 500;
  line-height: 33px;
  font-size: 28px;
}

.section__button {
  min-height: 50px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 3px #f0811a;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.section__button:active {
  color: #f0811a;
}

.section__button div {
  font-size: 18px;
  font-weight: 700;
}

.section__button span {
  margin-bottom: 5px;
}

.section__img {
  min-width: 100%;
}

.section__img img {
  min-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222121;
  border-bottom: solid 2px #f0811a;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links {
  display: none;
}

.header__link {
  position: relative;
  padding: 5px;
  font-weight: 300;
}

.header__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  z-index: -1;
  background-color: #f0811a;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__link:first-child {
  margin-right: 20px;
}

.logo {
  position: relative;
  padding: 3px 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.logo:before,
.logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0811a;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo:before {
  height: 2px;
  width: 100px;
}

.logo:after {
  height: 20px;
  width: 2px;
}

.logo span:before,
.logo span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0811a;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo span:before {
  height: 2px;
  width: 100px;
}

.logo span:after {
  height: 20px;
  width: 2px;
}

.banner {
  position: relative;
  color: #ffffff;
  background-color: #222121;
}

.banner .section__title {
  font-weight: 300;
}

.banner__subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

.banner__lines img {
  position: absolute;
}

.banner__lines img:first-child {
  top: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner__lines img:last-child {
  bottom: 0;
  left: 0;
}

.info {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.info__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.info__icon img {
  width: 75px;
}

.info__text {
  text-align: center;
  color: #222121;
  font-weight: 400;
  font-size: 15px;
}

.info__text .orange-text {
  font-weight: 700;
}

.prices {
  color: #222121;
}

.prices .section__title {
  margin-bottom: 40px;
}

.prices__block {
  width: 100%;
}

.prices__titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 3px #f0811a;
}

.prices__items {
  margin-bottom: 30px;
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  font-weight: 400;
  color: #4f4f4f;
  border: solid 1px #f0811a;
}

.prices__item:not(.prices__item:last-child) {
  margin-bottom: 10px;
}

.prices__item span:first-child {
  text-decoration: line-through;
  font-weight: 300;
}

.choose-us {
  color: #222121;
  background-color: #f2f2f2;
}

.choose-us__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 48px;
  padding: 15px 0;
  min-width: 200px;
}

.choose-us__img img {
  width: 150px;
}

.choose-us__img:before,
.choose-us__img:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0811a;
}

.choose-us__img:before {
  height: 2px;
  width: 90px;
}

.choose-us__img:after {
  height: 80px;
  width: 2px;
}

.choose-us__text {
  font-size: 20px;
  font-weight: 300;
}

.choose-us__text .orange-text {
  font-weight: 500;
}

.choose-us__text:before,
.choose-us__text:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0811a;
}

.choose-us__text:before {
  height: 2px;
  width: 90px;
}

.choose-us__text:after {
  height: 80px;
  width: 2px;
}

.need-to-know {
  color: #222121;
}

.need-to-know-block {
  margin-top: 48px;
}

.need-to-know-block__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
  padding: 0 12px 0 5px;
  color: #ffffff;
  font-size: 20px;
}

.need-to-know-block__title:before,
.need-to-know-block__title:after {
  z-index: -1;
  content: "";
  position: absolute;
}

.need-to-know-block__title:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f0811a;
}

.need-to-know-block__title:after {
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 30px 0 0 10px;
  border-color: transparent transparent transparent #f0811a;
}

.need-to-know-block__text {
  font-size: 15px;
  font-weight: 300;
}

.need-to-know-block__text .orange-text {
  font-weight: 400;
}

.need-to-know-block--enumeration .need-to-know-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-weight: 400;
}

@media (min-width: 460px) {
  .section__img img {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .mt-25 {
    margin-top: 0;
  }

  .section__title {
    font-size: 32px;
    line-height: unset;
  }

  .section__title--left {
    text-align: left;
  }

  .section__img img {
    height: 250px;
  }

  .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__links {
    display: block;
  }

  .banner__subtitle {
    margin-bottom: 70px;
  }

  .info__icon img {
    width: 100px;
  }

  .info__text {
    text-align: left;
    font-size: 16px;
  }

  .prices__item {
    font-size: 17px;
  }

  .choose-us__img img {
    width: 170px;
  }

  .choose-us__text {
    font-size: 25px;
  }

  .need-to-know-block__title:after {
    border-width: 33px 0 0 10px;
  }

  .need-to-know-block__title {
    font-size: 22px;
  }

  .need-to-know-block__text {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .mt-header {
    margin-top: 80px;
  }

  .cube {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  .section__title {
    font-size: 36px;
  }

  .section__button {
    min-height: 70px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .section__button div {
    font-size: 22px;
  }

  .section__button span {
    margin-bottom: 8px;
    font-size: 17px;
  }

  .section__button:hover {
    background-color: #f0811a;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  .section__img img {
    height: 320px;
  }

  .header {
    height: 80px;
  }

  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__links {
    font-size: 18px;
  }

  .header__link:hover:before {
    height: 100%;
  }

  .logo {
    padding: 5px 15px;
    font-size: 28px;
  }

  .logo:hover:before {
    height: 2px;
    width: 100%;
  }

  .logo:hover:after {
    height: 100%;
    width: 2px;
  }

  .logo:hover span:before {
    height: 2px;
    width: 100%;
  }

  .logo:hover span:after {
    height: 100%;
    width: 2px;
  }

  .banner__subtitle {
    margin-bottom: 100px;
    font-size: 36px;
  }

  .banner__lines img {
    height: 30px;
  }

  .info__icon img {
    width: 110px;
  }

  .info__text {
    font-size: 20px;
  }

  .info__text .orange-text {
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  .info__text .orange-text:hover {
    color: #222121;
  }

  .prices__titles {
    margin-bottom: 25px;
    font-size: 26px;
  }

  .prices__item {
    padding: 8px 15px;
    font-size: 22px;
  }

  .prices__item:not(.prices__item:last-child) {
    margin-bottom: 15px;
  }

  .choose-us__img:before,
  .choose-us__img:after {
    display: none;
  }

  .choose-us__text:before,
  .choose-us__text:after {
    display: none;
  }

  .need-to-know-block__title {
    font-size: 26px;
    color: #222121;
    border-bottom: 2px solid #f0811a;
  }

  .need-to-know-block__title:before,
  .need-to-know-block__title:after {
    display: none;
  }

  .need-to-know-block__text {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .section__title {
    font-size: 30px;
  }

  .section__button div {
    font-size: 20px;
  }

  .section__img img {
    height: 350px;
  }

  .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__links {
    font-size: 16px;
  }

  .banner__subtitle {
    font-size: 30px;
  }

  .info__text {
    font-size: 20px;
  }

  .prices__titles {
    font-size: 24px;
  }

  .prices__item {
    font-size: 20px;
  }

  .choose-us__img img {
    width: 160px;
  }

  .choose-us__text {
    font-size: 24px;
  }

  .need-to-know-block__title {
    font-size: 24px;
  }

  .need-to-know-block__text {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .mt-header {
    margin-top: 100px;
  }

  .section {
    padding: 72.8px 0;
  }

  .header {
    height: 100px;
  }

  .header__links {
    font-size: 24px;
  }

  .logo {
    font-size: 36px;
  }
}

@media (min-width: 1920px) {
  .cube {
    width: 12px;
    height: 12px;
    margin-right: 20px;
  }

  .section {
    padding: 89.6px 0;
  }

  .section__title {
    font-size: 55px;
  }

  .section__button {
    min-height: 100px;
  }

  .section__button div {
    font-size: 36px;
  }

  .section__button span {
    font-size: 27px;
  }

  .section__img img {
    height: 450px;
  }

  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__links {
    font-size: 26px;
  }

  .header__link:first-child {
    margin-right: 40px;
  }

  .logo {
    padding: 5px 20px;
    font-size: 46px;
  }

  .logo:before {
    height: 3px;
    width: 200px;
  }

  .logo:after {
    height: 50px;
    width: 3px;
  }

  .logo span:before {
    height: 3px;
    width: 200px;
  }

  .logo span:after {
    height: 50px;
    width: 3px;
  }

  .banner__subtitle {
    margin-bottom: 150px;
    font-size: 55px;
  }

  .banner__lines img {
    height: 40px;
  }

  .info__icon img {
    width: 180px;
  }

  .info__text {
    font-size: 28px;
  }

  .info__text .orange-text {
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  .info__text .orange-text:hover {
    color: #222121;
  }

  .prices__titles {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .prices__item {
    padding: 15px 25px;
    font-size: 34px;
  }

  .prices__item:not(.prices__item:last-child) {
    margin-bottom: 15px;
  }

  .choose-us__img img {
    width: 250px;
  }

  .choose-us__text {
    font-size: 38px;
  }

  .need-to-know-block__title {
    font-size: 42px;
  }

  .need-to-know-block__text {
    font-size: 32px;
  }

  .need-to-know-block {
    margin-top: 68px;
  }
}

@media (max-width: 350px) {
  .need-to-know-block__title:after {
    border-width: 27px 0 0 10px;
  }

  .need-to-know-block__title {
    font-size: 18px;
  }
}